/* _______________________________________________________ Start_Header ____________________________________________ */

header {
    background-image: url("./../images/b1-09d842f2.jpg");
    background-size: cover;
    background-position: center;

    height: 100vh;
    position: relative;
}

/* ________________________________ Start_Navbar ______________________________________ */

header nav {
    --nav-space-inline: 40px;
    padding-inline: var(--nav-space-inline);

    padding-block: 12px;
    margin: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav .logo h2 a {
    font-size: 45px;
    font-weight: 900;

    text-decoration: none;
    color: #fff;
    letter-spacing: 1.5px;
}


header nav .links .burger_menu,
header nav .links input {
    display: none;
}

header nav .links ul {
    display: flex;
    gap: 15px;

    list-style: none;
    /*inherited to <li>*/
}

header nav .links ul li a {
    font-size: 16px;
    font-weight: 600;

    text-decoration: none;
    color: #fff;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

header nav .links ul li a::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--main-color);

    margin-top: 5px;

    opacity: 0;
    transition-duration: 0.8s;
}

header nav .links ul li.active a::after,
header nav .links ul li:hover a::after {
    opacity: 1;
}

/* ________________________________ End_Navbar __________________________________________ */


header .container .content {
    color: #fff;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

header .container .content h1 {
    font-size: 60px;
    font-weight: 900;
}

header .container .content h2 {
    font-size: 40px;
    font-weight: 600;
    margin-block: 10px 20px;
}

header .container .content button {
    border: 2px solid var(--main-color);
    background-color: #000;
    color: #fff;
    padding: 15px 20px;
    font-size: 15px;
    font-weight: 600;

    cursor: pointer;

    transition-duration: 0.2s;
}

header .container .content button:active {
    border-color: #fff;
}

header .container .content button:hover {
    background-color: transparent;
}

/* _______________________________________________________ End_Header ______________________________________________ */



/* _______________________________________________________ Start_About _____________________________________________ */

#About .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#About .container .content,
#About .container .image {
    width: 50%;
}

#About .container .content h2 {
    color: var(--main-color);
    font-size: 40px;
    font-weight: 400px;

    margin-bottom: 20px;
}

#About .container .content p {
    color: #000;
    line-height: 25px;
}

#About .container .image img {
    display: block;
    width: 65%;
    margin: auto;
}

/* _______________________________________________________ End_About _______________________________________________ */



/* _______________________________________________________ Start_Services ___________________________________________ */

#Services {
    background-color: var(--main-color);
}


#Services .container .content .part:not(:last-child) {
    margin-bottom: 50px;
}

#Services .container .content .part {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

#Services .container .content .part:nth-of-type(2) {
    flex-direction: row;
}


#Services .container .content .part .icon {
    width: 35%;

    display: flex;
    justify-content: center;
    align-items: center;
}

#Services .container .content .part .icon .item {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid #000;
    background-color: #fff;
    color: var(--main-color);
    font-size: 35px;

    display: flex;
    justify-content: center;
    align-items: center;
}


#Services .container .content .part .description {
    width: 65%;
    padding-left: 25px;
}

#Services .container .content .part .description .item h3 {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
}

#Services .container .content .part .description .item p {
    font-size: 16px;
    margin-block: 15px;
    line-height: 25px;
}

#Services .container .content .part .description .item button {
    border: 1px solid transparent;
    background-color: #000;
    color: #fff;
    padding: 10px;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;

    cursor: pointer;

    transition-duration: 0.2s;
}

#Services .container .content .part .description button:hover {
    background-color: #E97272;
}

#Services .container .content .part .description button:active {
    border: 1px solid #fff;
}

/* _______________________________________________________ End_Services _____________________________________________ */


/* _______________________________________________________ Start_Clients ____________________________________________ */

#Clients .container .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


#Clients .container .content .part {
    width: 50%;
}

#Clients .container .content .part .item {
    padding-inline: 70px;
    text-align: center;
}

#Clients .container .content .part .item p {
    line-height: 25px;
}

#Clients .container .content .part .item h4 {
    color: var(--main-color);
    font-size: 25px;
    font-weight: 500;

    margin-block: 20px;
}

#Clients .container .content .part .item img {
    border-radius: 50%;
    border: 2px solid var(--main-color);
}


/* _______________________________________________________ End_Clients ______________________________________________ */


/* _______________________________________________________ Start_Trainers ___________________________________________ */

#Trainers {
    background-color: var(--main-color);
}

#Trainers .container .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

#Trainers .container .content .card {
    width: 25%;
}

#Trainers .container .content .card .item {
    border: 1px solid #000;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 1px 3px 1px #000;

    margin-inline: 10px;
    padding: 20px;
}

#Trainers .container .content .card .item .image {
    border: 5px solid var(--main-color);
    border-radius: 50%;
    overflow: hidden;
    width: 160px;
    margin: auto;
}

#Trainers .container .content .card .item .image img {
    display: block;
    width: 100%;
}

#Trainers .container .content .card .item .info {
    margin-block: 20px;
    text-align: center;
}

#Trainers .container .content .card .item .info h3 {
    color: var(--main-color);
    font-size: 25px;
    font-weight: 500;
}

#Trainers .container .content .card .item .info h5 {
    margin-block: 20px;
    font-size: 17px;
    font-weight: 500;
}

#Trainers .container .content .card .item .info p {
    line-height: 25px;
}

#Trainers .container .content .card .item .social_links {
    display: flex;
    justify-content: center;
    column-gap: 25px;
}

#Trainers .container .content .card .item .social_links a {
    background-color: var(--main-color);
    color: #fff;
    width: 35px;
    height: 35px;
    border: 1px solid #000;
    border-radius: 50%;
    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;

    transition-duration: 0.5s;
}

#Trainers .container .content .card .item .social_links a:hover {
    background-color: #fff;
    color: var(--main-color);
}

/* _______________________________________________________ End_Trainers _____________________________________________ */


/* _______________________________________________________ Start_Gallery ____________________________________________ */

#Gallery .container .content {
    background-color: #f056b5;

}

#Gallery .container .content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 300px);
    grid-auto-rows: 300px;

    border-radius: 10px;
    overflow: hidden;
}


#Gallery .container .content .image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


#Gallery .container .content .image:nth-of-type(1) {
    background-image: url("../images/g1-9345a8f7.jpg");
    grid-row: span 2;
}


#Gallery .container .content .image:nth-of-type(2) {
    background-image: url("../images/g5-8ce27a04.jpg");
}


#Gallery .container .content .image:nth-of-type(3) {
    background-image: url("../images/g4-9fc39936.jpg");
}


#Gallery .container .content .image:nth-of-type(4) {
    background-image: url("../images/g6-64027e43.jpg");
    grid-row: span 2;
}


#Gallery .container .content .image:nth-of-type(5) {
    background-image: url("../images/g3-1f7cace9.jpg");
}


#Gallery .container .content .image:nth-of-type(6) {
    background-image: url("../images/g2-9aae0bfa.jpg");
}


#Gallery .container .content .image:nth-of-type(7) {
    background-image: url("../images/g7-9ead7675.jpg");
}

/* _______________________________________________________ End_Gallery ______________________________________________ */


/* _______________________________________________________ Start_Iframe ______________________________________________ */

iframe {
    border: none;
    width: 100%;
    height: 400px;
    margin-top: 50px;
}

/* _______________________________________________________ End_Iframe ________________________________________________ */



/* _______________________________________________________ Start_Contact ____________________________________________ */

#Contact .container .content .part1 {
    display: flex;
    flex-wrap: wrap;

    margin-bottom: 50px;
}

#Contact .container .content .part1 .card {
    width: 33.33%;
}

#Contact .container .content .part1 .card .item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Contact .container .content .part1 .card .item .icon {
    background-color: var(--main-color);
    color: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-bottom: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}



#Contact .container .content .part1 .card .item a {
    line-height: 25px;
    color: #000;
    text-decoration: none;
    font-size: 16px;
}

#Contact .container .content .part2 form {
    display: flex;
    flex-wrap: wrap;
}

#Contact .container .content .part2 form .box {
    width: 33.33%;
}

#Contact .container .content .part2 form .box:nth-child(4) {
    width: 100%;
}

#Contact .container .content .part2 {
    width: 1000px;
    margin: auto;
}

#Contact .container .content .part2 form .box .item {
    margin-inline: 10px;
}

#Contact .container .content .part2 form .box .item input,
#Contact .container .content .part2 form .box .item textarea {
    width: 100%;

    border: none;
    border-bottom: 1px solid var(--main-color);
    outline: none;
    padding: 10px;
    margin-bottom: 20px;
    background-color: transparent;

    transition-property: box-shadow;
    transition-duration:  1s;
}

#Contact .container .content .part2 form .box .item input:focus,
#Contact .container .content .part2 form .box .item textarea:focus {
    border-bottom: 0;
    box-shadow: 0 0 5px var(--main-color);
}

#Contact .container .content .part2 form .box .item input::placeholder,
#Contact .container .content .part2 form .box .item textarea::placeholder {
    font-size: 16px;
    font-family: PT Sans, sans-serif;
    color: #595C5F;
}

#Contact .container .content .part2 form .box .item textarea {
    padding-bottom: 150px;
    resize: none;
}


#Contact .container .content .part2 form .box .item button {
    background-color: #000;
    color: #fff;
    font-size: 16px;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
}

#Contact .container .content .part2 form .box .item button:hover {
    background-color: var(--main-color);
    color: #fff;
}

/* _______________________________________________________ End_Contact ______________________________________________ */


/* _______________________________________________________ Start_Footer______________________________________________ */

footer {
    background-color: var(--second-color);
}

/* ________________ part1 ___________________________ */

footer .container .part1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .container .part1 .box {
    width: 33.33%;
}

/* ___________________ */

footer .container .part1 .box .item h3 {
    color: var(--main-color);
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}

footer .container .part1 .box .item ul {
    margin-bottom: 20px;
}

footer .container .part1 .box .item ul li {
    list-style: none;
    margin-bottom: 10px;
}

footer .container .part1 .box .item ul a {
    font-size: 16px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 1.5px;
}

/* ___________________ */

footer .container .part1 .box .item .content {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 70px);
    gap: 15px 20px;
}


footer .container .part1 .box .item .content .image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


footer .container .part1 .box .item .content .image:nth-of-type(odd) {
    background-image: url("../images/g2-9aae0bfa.jpg");
}



footer .container .part1 .box .item .content .image:nth-of-type(even) {
    background-image: url("../images/g4-9fc39936.jpg");
}

/* ___________________ */

footer .container .part1 .box .item .time {
    width: 350px;
    border-bottom: 2px solid var(--main-color);
    margin-bottom: 20px;

    display: flex;
    justify-content: space-between;
}


footer .container .part1 .box .item .time p {
    color: #fff;

    font-family: "Agency FB", Arial, sans-serif;
    font-weight: 600;
}

/* ________________ part2 ___________________________ */

footer .part2 {
    border-top: 1px solid #fff;

    padding-top: 30px;
    text-align: center;
    color: #fff;
}

footer .part2 p {
    padding-inline: 10px;
}

footer .part2 p span {
    color: var(--main-color);
}

footer .part2 .social_links a {

    text-decoration: none;
    color: #fff;
    background-color: var(--main-color);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid #000;
    margin-top: 20px;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    transition-duration: 0.5s;
}

footer .part2 .social_links a:first-child {
    margin-right: 15px;
}

footer .part2 .social_links a:hover {
    color: var(--main-color);
    background-color: #fff;
}

footer .part2 .up {
    position: fixed;
    right: 20px;
    bottom: 20px;
}

/* _______________________________________________________ End_Footer________________________________________________ */